html,
body {
    margin: 0;
    display: grid;
    grid-template-columns: 320px 77vw;
    grid-gap: 0px;
    background-color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

main, header {
    font-family: 'DM Sans', 'Open Sans', 'Helvetica Neue', sans-serif, serif;
    font-size: 1.3rem;
    padding-inline-start: 1%;
}



.barraIndece {
    background-color: rgb(229, 245, 220);
    padding: 2rem;
    overflow-y: auto;
    position: sticky;
    z-index: 1019;
    top: 0px;
    height: 90vh;

    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
}

.cuerpo {
    padding-inline: 30px;
}

.bloque-contenerdo {
    position: relative;
    border: 4px solid rgb(81, 62, 226);
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(244, 238, 255);
    
    box-shadow: 10px 10px 0px rgba(81, 62, 226, 0.596);
    /* overflow: auto; */
    /* width: fit-content; */
}

.bloque-contenerdo:hover{
    box-shadow: 10px 10px 0px rgba(105, 12, 182, 0.596);
}

.ImgUwU {
    width: 100vw;

}

.barraIndece h1, .barraIndece h2 {
    color: rgb(81, 62, 226);

}

.barraIndece ul {
    list-style-type: none;
    padding: 0;
}

.barraIndece li {
    margin-bottom: 5px;
}

.barraIndece a {
    text-decoration: none;
    color: rgb(81, 62, 226);
}

.barraIndece a:hover {
    text-decoration: underline;
}

#btnIrInicio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: blueviolet;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.contan{
    font-weight: 600;
}

.line{
    height: 1px;
    background-color: rgba(81, 62, 226, 0.372);
    margin-block: 20px;
}

.boton {
    position: absolute;
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: rgb(81, 62, 226);
    color: #ffffff;
    padding-inline: 8px;
    padding-block: 5px;
    padding-top: 2px;
    text-align: center;
    transition: background-color 0.3s ease;
    /* Transición de color de fondo */
}


.boton:hover {
    background-color: #7f29b9;
}

.contenido-desplegable {
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(81, 62, 226, 0.596);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    /* Transición de altura máxima */
}

.contenido-desplegable:hover{
    box-shadow: 10px 10px 0px rgba(105, 12, 182, 0.596);
}

.codigo {
    background-color: #f1c40f;
    padding: 10px;
    margin: 0;
    overflow: auto;
    /* Añadido para permitir el desplazamiento vertical */
}